[submodule "config-server"]
	path = config-server
	url = https://github.com/Yobel-SCM-2/config-server
[submodule "service-discovery"]
	path = service-discovery
	url = https://github.com/Yobel-SCM-2/service-discovery
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Yobel-SCM-2/auth-ms
